/* General */
.center-text{
  text-align: center;
}

/* Header Part */

header {
  border-bottom: 2px solid tomato;
  color: white;
  background: black;
  padding: 8px 0;
  margin-bottom: 20px
}


/* Home Page */

.home-page-link {
  text-decoration: none;
}


/* Inspections Page */
.search-header {
  text-align: center;
}


/* CreateOrEdit Inspection Form */
thead {
  color: white;
  background: black;
}

th:first-child, td:first-child {
  padding-left: 4px;
}
